<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>min</key>
		<integer>80</integer>
		<key>max</key>
		<integer>225</integer>
		<key>default</key>
		<integer>150</integer>
		<key>step</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>80</integer>
		<key>max</key>
		<integer>360</integer>
		<key>default</key>
		<integer>240</integer>
		<key>step</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>80</integer>
		<key>max</key>
		<integer>420</integer>
		<key>default</key>
		<integer>280</integer>
		<key>step</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>80</integer>
		<key>max</key>
		<integer>420</integer>
		<key>default</key>
		<integer>280</integer>
		<key>step</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>80</integer>
		<key>max</key>
		<integer>600</integer>
		<key>default</key>
		<integer>400</integer>
		<key>step</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>120</integer>
		<key>max</key>
		<integer>960</integer>
		<key>default</key>
		<integer>650</integer>
		<key>step</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>120</integer>
		<key>max</key>
		<integer>1200</integer>
		<key>default</key>
		<integer>800</integer>
		<key>step</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>120</integer>
		<key>max</key>
		<integer>1200</integer>
		<key>default</key>
		<integer>800</integer>
		<key>step</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>120</integer>
		<key>max</key>
		<real>1400</real>
		<key>default</key>
		<integer>900</integer>
		<key>step</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>160</integer>
		<key>max</key>
		<integer>2000</integer>
		<key>default</key>
		<integer>1500</integer>
		<key>step</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>200</integer>
		<key>max</key>
		<real>3300</real>
		<key>default</key>
		<real>2200</real>
		<key>step</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
